.about-block{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ava-block{
  
}

#ava{
  width: 90%;
}

.info-block{
  vertical-align: center;
}

.info-block p{
  padding-top: 10%;
  width: 80%;
}

.about-link{
  font-weight: 600;
  color: inherit;
}


.about-link:hover{
  text-decoration: none;
  color: inherit;
}